<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sandeephoodaiot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Sample Servlet</description>
    <display-name>Sandeep_responsiveServlet</display-name>
    <servlet-name>Sandeep_responsiveServlet</servlet-name>
    <servlet-class>com.Sandeep_responsiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sandeep_responsiveServlet</servlet-name>
    <url-pattern>/pushnotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>com.iot.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutData</display-name>
    <servlet-name>PutData</servlet-name>
    <servlet-class>com.iot.PutData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutData</servlet-name>
    <url-pattern>/PutData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAlexa</display-name>
    <servlet-name>AskAlexa</servlet-name>
    <servlet-class>com.iot.AskAlexa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAlexa</servlet-name>
    <url-pattern>/AskAlexa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAlexa2</display-name>
    <servlet-name>AskAlexa2</servlet-name>
    <servlet-class>com.AskAlexa.AskAlexa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAlexa2</servlet-name>
    <url-pattern>/AskAlexa/AskAlexa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Morgan</display-name>
    <servlet-name>Morgan</servlet-name>
    <servlet-class>com.AskAlexa.Morgan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Morgan</servlet-name>
    <url-pattern>/Morgan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MorganEmp</display-name>
    <servlet-name>MorganEmp</servlet-name>
    <servlet-class>com.AskAlexa.MorganEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MorganEmp</servlet-name>
    <url-pattern>/MorganEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAppliance</display-name>
    <servlet-name>SetAppliance</servlet-name>
    <servlet-class>com.iot.SetAppliance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAppliance</servlet-name>
    <url-pattern>/SetAppliance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Step0GetTempAuthCode</display-name>
    <servlet-name>Step0GetTempAuthCode</servlet-name>
    <servlet-class>com.github.Step0GetTempAuthCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Step0GetTempAuthCode</servlet-name>
    <url-pattern>/GitHub/Step0GetTempAuthCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Step1GetAccessToken</display-name>
    <servlet-name>Step1GetAccessToken</servlet-name>
    <servlet-class>com.github.Step1GetAccessToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Step1GetAccessToken</servlet-name>
    <url-pattern>/GitHub/Step1GetAccessToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.github.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/GitHub/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserDetails</display-name>
    <servlet-name>GetUserDetails</servlet-name>
    <servlet-class>com.github.GetUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserDetails</servlet-name>
    <url-pattern>/GitHub/GetUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oauth</display-name>
    <servlet-name>Oauth</servlet-name>
    <servlet-class>com.google.Oauth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oauth</servlet-name>
    <url-pattern>/Oauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeMessage</display-name>
    <servlet-name>WelcomeMessage</servlet-name>
    <servlet-class>com.iot.WelcomeMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeMessage</servlet-name>
    <url-pattern>/WelcomeMessage</url-pattern>
  </servlet-mapping>
</web-app>